html, body
    height: 100%

body
    margin: 0
    padding: 0
    background-color: #eee
    font-family: Arial, sans-serif

main
    padding: 1em

a
    &:hover, &:focus, &:active
        background-color: rgba(0, 0, 255, 0.1)

.test
    display: flex
    border-radius: 10px
