*
    box-sizing: border-box

html, body
    height: 100%

body
    margin: 0
    padding: 0
    background-color: #eee
    font-family: Arial, sans-serif

main
    margin: 0 auto
    padding: 1em
    max-width: 90em

.TestContent
    margin: 3em 0

nav
    a
        display: inline-block
        margin: 0 0.5em 0.5em
