html, body
    height: 100%

body
    margin: 0
    padding: 0
    background-color: #eee
    font-family: Arial, sans-serif

a
    &:hover, &:focus, &:active, &[aria-selected="true"]
        background-color: rgba(0, 0, 255, 0.1)

main
    padding: 1em

.TestContent
    margin: 3em 0
